body {
	padding-left: 150px;
	padding-right: 150px;
	background-color: #4171d0;
	background-image: linear-gradient(43deg, #4171d0 0%, #5081c8 55%, #7c70ff 100%);
	font-family: "Times New Roman", Times, serif;
}
.konten {
	width: 80%;
	margin: auto;
}

.box1 {

	text-align: center;
	background-color: #eee;
	padding-bottom: 10px;
}
h1 {
	padding-top: 10px;
	padding-right: 10px;
	background-color: orange;
	text-align: right;

}
.box2 {
	
	margin-top: -20px;
	background-color: #eee;
}
h3 {
	padding-top: 10px;
	text-align: center;
}
li {
	margin-left: -40px;
	list-style: none;
	text-align: center;
}
.box3 {
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee;
	text-align: center;
}
.tabel {
	margin-right: auto;
	margin-left: auto;
}
.box4 {
	line-height: 2em;
	text-align: center;
	background-color: #eee;
	padding-top: 20px;
	margin-top: -20px;
}
.box5 {
	text-align: center;

}
.box6 {
	text-align: right;
}
